<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TecnoServ: Servicios solicitados</title>

  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
</head>

<body>

  <header>
    <br>
    <a href="index.html">INICIO</a>
    <a href="about.html">MAS DE NOSOTROS</a>
    <a href="service.html">SERVICIOS</a>
  </header>
  <main>
    <table class="table table-bordered border-dark">
      <thead class="table-dark">
          <tr>
            <th>Nombre solicitante</th>
            <th>Tipo de solicitud</th>
            <th>e-mail</th>
            <th>Numero de telefono</th>
            <th>Descripción </th>
            <th>Accion</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let dato of Datos; let iControl=index">
              <td> {{dato.nombre}} </td>
              <td> {{dato.tipo_servicio}} </td>
              <td> {{dato.email}} </td>
              <td> {{dato.telefono}} </td>
              <td> {{dato.descripcion}} </td>
              <td><button type="button" class="btn btn-danger" (click)="borrarDatos(dato.id, iControl)">Borrar</button></td>
          </tr>
      </tbody>
  </table>
  </main>
</body>

</html>